﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row search-bar">
    <div class="col-md-6">
        <input class="form-control form-control-lg" type="text" placeholder="The Grand Budapest Hotel" name="query" id="query" value="@ViewBag.Query" required="required">
        <div class="invalid-feedback">
            Please specify search query!
        </div>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary form-control-lg" id="search"><i class="fas fa-search"></i> Search Videos</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Results <span class="badge badge-secondary" id="queryTextHeader"></span></h3>
    </div>
</div>
<div class="row" id="results">

</div>
<div class="row invisible" id="loadMore">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button href="#" class="btn btn-lg btn-primary btn-block" id="search">Load More >></button>
    </div>
    <div class="col-md-4"></div>
</div>
<input type="hidden" value="0" id="currentPage" />
<input type="hidden" value="" id="lastQueryText" />

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-11">
                    <!--Twitter-->
                    <div id="btnTwitterShare"></div>
                </div>
                <div class="col-1 modal-close">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>